.App {
	padding: 20px 40px;
	display: flex;
	justify-content: space-between;
	gap: 50px;
}

.button {
	cursor: pointer;
	padding: 4px 8px;
	border-radius: 3px;
	background: rgb(113, 155, 167);
	color: whitesmoke;
	border: none;
}

.button:hover {
	transform: scale(1.05);
	transition: transform 0.3s;
}

.input {
	padding: 2.5px 8px;
	border-radius: 3px;
	border: 1.5px solid rgb(113, 155, 167);
}
.titleText {
	font-weight: 700;
}

.firstText {
	font-weight: 600;
	color: rgb(113, 155, 167);
}

.secondText {
	font-weight: 400;
	color: rgb(31, 31, 31);
}

.complTrue {
	text-decoration: line-through;
}
