@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Mulish:wght@200;300;400;500;600;700&family=Nunito:wght@200;300;400;500;600;700&display=swap");

/* *:not(svg *):not(span > svg) {
	all: unset;
	display: revert;
	list-style: none;
} */

* {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	font-family: Mulish, sans-serif;
	background: whitesmoke;
}
